@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mycontainer {
        @apply container px-40 mx-auto py-6 ;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}